<!-- for the homepage -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityEase Homepage</title>
    <link rel="stylesheet" href="../css/homepage.css">
</head>
<body>
    <header>
	<div class="logo-container">
        <img src="../assets/logo-noname.png" alt="Logo" class="header-logo">
        <h2>CityEase</h2>
    </div>
	<a class="first-button" href="homepage.html">Home</a>
	<a class="first-button" href="reportIssue.html">Report an Issue</a>
	<a class="first-button" href="requestDoc.html">Request Document</a>
 	<button class="second-button" href="index.php">Log In</button>
    <button class="second-button" href="sign-up.php">Sign Up</button>
    </header>

    <main>
        <div class="main-background">

        </div>
        <div class="top-section">
            <img src="../assets/logo-noname.png" alt="Logo" class="main-logo">
            <h3>Welcome to CityEase!</h3>
            <p>YOUR ONE-STOP PLATFORM FOR SEAMLESS COMMUNITY MANAGEMENT.</p>
            <p>At CityEase, we are dedicated to enchancing the efficiency and accessibility of local government services for</p>
            <p>barangays across our city. Our mission is to streamline the way citizens interact with their local government,</p>
            <p>making it easier to report issues, manage documents, and stay informed about community updates.</p>
        </div>
        <div class="bottom-section">
        <div class="left-section">
            <h1>YOUR GATEWAY</h1>
            <h1>TO LOCAL SERVICES</h1>
            <button class="main-button">Sign Up</button>
        </div>
        <div class="right-section">
            <p>Welcome to CityEase, where community management meets simplicity. Our platform offers a user-</p>
            <p>friendly interface for reporting issues, managing documents, and accesing local services with ease.</p>
            <p>Dedicated to enhancing transparency and citizen engagement, CityEase is your partner in building a</p>
            <p>connected and responsive community.</p>
            <p>Join us in shaping a better future for our city through efficient, accessible, and innovative local</p>
            <p>governance solutions.</p>
        </div>
        </div>
    </main>

    <footer>
	<div class="left-text">
	     <p>&copy; CityEase 2024</p>
	</div>
        <p class="centered-footer-text">YOUR ONE-STOP PLATFORM FOR SEAMLESS COMMUNITY MANAGEMENT</p>
    </footer>
</body>
</html>