<!DOCTYPE html>
<html>
    <head>
        <title>Report an issue</title>
        <link rel="stylesheet" href="../css/forms.css">
    </head>
    <body>
        <div class="formContainer">
            <h1 class="formTitle">Report an Issue</h1>
            <img src="../assets/logo-noname.png" alt="logo no name" class="logo">
            <form method="POST">
                <table class="formTable">
                    <tr>
                        <td>
                            <div class="inputDiv">
                                <label for="reportType" class="formFieldLabel">Type:</label>
                                <select required class="reportType" name="reportType">
                                    <option hidden disabled selected value class="selectOption">Select an option</option>
                                    <option class="selectOption" value="sample1">Sample1</option>
                                    <option class="selectOption" value="sample2">Sample2</option>
                                    <option class="selectOption" value="sample3">Sample3</option>
                                    <option class="selectOption" value="sample4">Sample4</option>
                                    <option class="selectOption" value="sample5">Sample5</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="inputDiv">
                                <label for="discoveryDate" class="formFieldLabel">Date of Discovery:</label>
                                <input required type="date" name="discoveryDate"></input>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="inputDiv">
                                <label for="region" class="formFieldLabel">Region:</label>
                                <select required class="region" name="region">
                                    <option hidden disabled selected value class="selectOption">Select an option</option>
                                    <option class="selectOption" value="sample1">Sample1</option>
                                    <option class="selectOption" value="sample2">Sample2</option>
                                    <option class="selectOption" value="sample3">Sample3</option>
                                    <option class="selectOption" value="sample4">Sample4</option>
                                    <option class="selectOption" value="sample5">Sample5</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="inputDiv">
                                <label for="province" class="formFieldLabel">Province:</label>
                                <select required class="province" name="province">
                                    <option hidden disabled selected value class="selectOption">Select an option</option>
                                    <option class="selectOption" value="sample1">Sample1</option>
                                    <option class="selectOption" value="sample2">Sample2</option>
                                    <option class="selectOption" value="sample3">Sample3</option>
                                    <option class="selectOption" value="sample4">Sample4</option>
                                    <option class="selectOption" value="sample5">Sample5</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="inputDiv">
                                <label for="municipality" class="formFieldLabel">Municipality:</label>
                                <select required class="municipality" name="municipality">
                                    <option hidden disabled selected value class="selectOption">Select an option</option>
                                    <option class="selectOption" value="sample1">Sample1</option>
                                    <option class="selectOption" value="sample2">Sample2</option>
                                    <option class="selectOption" value="sample3">Sample3</option>
                                    <option class="selectOption" value="sample4">Sample4</option>
                                    <option class="selectOption" value="sample5">Sample5</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="inputDiv">
                    <label for="details" class="formFieldLabel">Details:</label>
                    <textarea name="details" class="details" required></textarea>
                </div>
                <input type="submit" class="submitButton" value="Submit Report"></input>
            </form>
        </div>
    </body>
</html>